<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/0075d73424.js" crossorigin="anonymous"></script>
    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>

    
      <h3>Find A Collaborator</h3>
      <div class="row">
        <div class="col s12 l6">
      <select class="browser-default">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        
      </select>
      </div>
      </div>
        
     <script>
        $(document).ready(function(){
        $('select').formSelect();
      });
     </script> 
            

>
</body>
</html>