<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/0075d73424.js" crossorigin="anonymous"></script>
    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .nav-wrapper {
            background-color: gray;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            background-position: center;
            min-height: 180px;
        }

        .brand-logo {
            margin-right: 40px;
            margin-left: 40px;
            padding-right: 10px;
        }

        .slogan {
            margin-left: 500px;
        }

        .dark-grey-text {
            font-family: 'Times New Roman', Times, serif;
        }

        .id {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>

</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <a href="#!" class="brand-logo"> <i class="fab fa-connectdevelop"></i> collabify</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Home</a></li>
                    <li><a href="badges.html">Login</a></li>
                    <li><a href="collapsible.html">Search</a></li>
                    <li><a href="mobile.html">Mobile</a></li>
                </ul>
                <br style="line-height:0px;" />
                <ul class="slogan" class="center hide-on-med-and-down">
                    <h2> Connecting Talents </h2>
                </ul>
                </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    {{{ body }}}

    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    
    <script>

$("#sign-in").on("click", function (event) {
  event.preventDefault();

  var user = {
    email: $("#email").val().trim(),
    account_key: $("#account_password").val().trim()
  }
  
  $.post("/login", user, function(results){
    if(results){
       $(location).attr('href', '/accounts/view')
     }else {
      $("#account-info").modal("close");
      alert("oops something went wrong, please try again!");

     }
   
  })

});
    </script>
</body>

</html>