<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>collabHub | Where Developers Connect</title>

    
    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom collabHub Stylesheet -->
    <link rel="stylesheet" href="././styles/styles.css">

    <!-- Google Fonts for title -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

 </head>

<body>

    <nav>
        <div class="nav-wrapper" style="background: linear-gradient(180deg, rgb(75, 75, 75), rgb(110, 110, 110));">
            <div class="row">
                <a href="/login" class="brand-logo"> <i class="fab fa-connectdevelop"></i> collabHub</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/login">Home</a></li>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/signup">Sign up</a></li>
                    <li id="logout"><a>Log out</a></li>
                    <li><a href="/search">Search</a></li>

                </ul>
                <br style="line-height:0px;" />
                <ul class="slogan" class="center hide-on-med-and-down" style="height:20px;" >
                    <h3>Where Developers Connect</h3>
                </ul>
                </div>
        </div>
    </nav>
    
    {{{ body }}}
<!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/0075d73424.js" crossorigin="anonymous"></script>
    </script>
        <!-- Compiled and minified JavaScript -->
   <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="/js/accounts.js"></script>

    <script src= "/js/search.js"></script>

    <script>
      

        const logout = document.getElementById("logout")
        logout.addEventListener("click", () => {
            //logout user & end session
            $(location).attr("href", "/logout")
        })

$("#login").on("click", function (event) {
  event.preventDefault();
//create user object via email and password input
  var user = {
    email: $("#email").val().trim(),
    account_key: $("#password").val().trim()
  }
  
  $.post("/login", user, function(results){
    if(results){
       $(location).attr('href', '/profile')
     } else {
      $("#account-info").modal("close");
      alert("oops something went wrong, please try again!");
     }
  })
});


</body>

</html>