  <div class= "container">
    <br><h3><color="teal">Find a collaborator</color></h3>

    <section class="input-field col s12">
        <select id="skillsSelect">
          <option value="" disabled selected>What kind of collab do you need?</option>
          <option value="Full Stack Developer">Full Stack Developer</option>
          <option value="Back End Developer">Back End Developer</option>
          <option value="Front End Developer">Front End Developer</option>
          <option value="UX/UI Designer">UX/UI Designer</option>
          <option value="Linux">Linux</option>
          <option value="Android">Android</option>
          <option value="iOS">iOS</option>                    
        </select>
        </section>

      <button class="btn btn-round btn-large" id="collabbtn">Find a Collab!</button>
      </div>
<br>
<br>
<!-- Hide this table until "collab" button clicked -->
<!-- "highlight" class uses the Materialize Highlight Table format -->

<section>
    <table class= "highlight">
        <thead>
        <tbody>
          <tr>
            <!-- <td>User Photo -- Icebox</td> -->
            <td>User's fName, lName</td>
              <!-- One skill for now  -->
            <td>User's skills</td>
            <td>Contact Button</td>
          </tr>
          <!-- Append Row -->
        </tbody>
      </table>

</section>


</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src= "/js/search.js"></script>