  <div class= "container">
    <br><h3>Find a collaborator</h3>

    <section class="input-field col s12 search-results">
        <select id="skillsSelect">
          <option value="Full Stack Developer">Full Stack Developer</option>
          <option value="Back End Developer">Back End Developer</option>
          <option value="Front End Developer">Front End Developer</option>
          <option value="UX/UI Designer">UX/UI Designer</option>
          <option value="Linux">Linux</option>
          <option value="Android">Android</option>
          <option value="iOS">iOS</option>                    
        </select>
        </section>
      <button class="btn" id="collabbtn">Find a Collab!</button>
      </div>
<!-- Hide this table until "collab" button clicked -->
<!-- "highlight" class uses the Materialize Highlight Table format -->
<section class= "container">
    <table class= "highlight">
        <thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>User's skills</td>
            <td>Contact Button</td>
          </tr>
        {{#each data}}
            <tr>
                <td>{{user.first_name}} {{accounts.last_name}}</td>
                <td>{{Accounts.dataValues.skills}}</td>
                <td>User's Profile Page</td>
            </tr>
        {{/each}}
        </tbody>
      </table>

</section>

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src= "/js/search.js"></script>
