<div>
    USER: <input type="text" name="" id="userName">
    <br>
    <br>
    FirstName<input type="text" name="" id="inputFirst">
    <br>
    <br>
    LastName<input type="text" name="" id="inputLast">
    <br>
    <br>
    City<input type="text" name="" id="inputCity">
    <br>
    <br>
    State<input type="text" name="" id="inputState">
    <br>
    <br>
    ZIP <input type="text" id="inputZip">
    <br>
    <br>
    email: <input type="text" id="inputEmail">
    <br>
    <br>
    PASS: <input type="text" name="" id="inputPassword">
    <br>
    <br>

    <button id="add-account">ADD</button>
</div>