<<<<<<< HEAD
<div>
    USER: <input type="text" name="" id="userName">
    <br>
    <br>
    FirstName<input type="text" name="" id="inputFirst">
    <br>
    <br>
    LastName<input type="text" name="" id="inputLast">
    <br>
    <br>
    City<input type="text" name="" id="inputCity">
    <br>
    <br>
    State<input type="text" name="" id="inputState">
    <br>
    <br>
    ZIP <input type="text" id="inputZip">
    <br>
    <br>
    email: <input type="text" id="inputEmail">
    <br>
    <br>
    PASS: <input type="text" name="" id="inputPassword">
    <br>
    <br>

    <button id="add-account">ADD</button>
=======
<div id="sup">
<nav>
    <div id="navsign" class="nav-wrapper">
        <a href="/" class="brand-logo">CollabHub</a>
    </div>
</nav>


   
      <form name ="myForm" action="user/signup" method="post">
      
        <div class="container" id="mainsignup">
            <h3>Sign Up</h3>
            <div class="row">
                <div class="input-field col s6">
                    First Name:
                    <input id="firstName" type="text" class="validate" name="firstName" required>
                    <label for="first_name"></label>
                </div>
                <div class="input-field col s6">
                    Last Name:
                    <input id="lastName" type="text" class="validate" name="lastName" required>
                    <label for="last_name"></label>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s6">
                    Email:
                    <input id="username" type="email" class="validate" name="email" required>
                    <label for="email"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    Password:
                    <input id="password" type="password" class="validate" name="password" required>
                    <label for="password"></label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                </div>
                <input class="btn" type="submit" value="Submit">
            </div>
        </div>
    </form>
>>>>>>> master
</div>