/* collabHub stylesheet */
.list-group-item {
  line-height: 2.5;
}

.nav-wrapper {
    background-color: gray;
    font-family: 'Comfortaa', 'Arial', 'sans-serif';
    font-size: 20px;
    background-position: center;
    min-height: 180px;
    padding-top: 8px;
}
.container{
    margin-top:108px;
}
.main-title{
    margin-top: -77px;
    font-family: 'Comfortaa', 'Arial', 'sans-serif';
    font-weight: bold;
    color: teal;
    text-shadow: gray;
}

.profile-title{
    font-family: 'Comfortaa', 'Arial', 'sans-serif';
    font-weight: bold;
    color: teal;

}
#s{
    text-align: center;
    margin-top: -77px;
    font-family: 'Comfortaa', 'Arial', 'sans-serif';
    font-weight: bold;
    color: teal;
}

.brand-logo {
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 10px;
}

.slogan {
    margin: auto;
    text-align: center;
}

.dark-grey-text {
    font-family: 'Segoe UI', Arial, sans-serif;
}

.id {
    font-family: 'Segoe UI', Arial, sans-serif;
}
.btn-round {
    border-radius: 40px;
    font-family: 'Comfortaa', Arial, sans-serif;
}
